/* body {
  margin: 0%;
  padding: 0%;
}
#car {
  background: url(road.jpg);
}
#scene {
  background: url(side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 450px;
}
#btn {
  width: 100px;
  height: 50px;
  background-color: yellow;
  font-size: 20px;
  margin: 20px;
}

#bdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
} */

#back {
  background: url(scene.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 350px;
}

#road {
  background: url(road.jpg);
  height: 250px;
}
#car {
  width: 250px;
  height: 120px;
}

#start,
#stop {
  background: white;
  width: 90px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid black;
}

#button {
  margin-left: 500px;
}

.traffic-light {
  width: 100px;
  height: 200px;
  position: absolute;
  left: 1160px;
  top: 80px;
}
